.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;

    background: rgba(0, 0, 0, 0.5);

    .content {
        position: relative;

        width: 400px;
        height: auto;

        background: rgb(238, 231, 231);

        margin: auto;
        padding: 20px 10px 50px 10px;

        text-align: center;
        font-size: 18px;
        line-height: 22px;

        .close {
            position: absolute;
            top: 5px;
            right: 5px;

            width: 30px;
            height: 30px;

            background: rgb(218, 69, 69);
            border: none;

            font-size: 24px;
        }
    }
}