@import './constants/colors.scss';

.App {
    margin: auto;
    width: fit-content;

    .header {
        margin: 15px;
        padding-bottom: 10px;

        font-size: 42px;
        text-align: center;

        border-bottom: 1px solid black;
    }

    .keyboard {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5px;
        max-width: 650px;

        .divider {
            flex-basis: 100%;
        }
    }
}