@import './constants/colors.scss';

.App {
    margin: 0;
    height: 100%;
    background: rgb(223, 255, 255);

    .header {
        max-width: 650px;

        margin: auto;
        padding-bottom: 10px;

        font-size: 42px;
        text-align: center;

        border-bottom: 1px solid black;
        background: rgba(174, 252, 174, 0.75);
    }

    .keyboard {
        margin: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5px;

        max-width: 650px;

        .divider {
            flex-basis: 100%;
        }
    }

    &.pulse {
        animation: pulse 1s ease 0s 1 normal forwards;
    }
}

@keyframes pulse {
    50% {
        background: rgb(20, 95, 20);
    }
}