$color-green: rgb(11, 220, 11);
$color-yellow: rgb(223 223 11);
$color-gray: rgb(91, 91, 91);
$color-default: rgb(162, 162, 162);
$color-blue: blue;
$color-red: red;

$color-default-dark: rgb(107, 107, 107);
$color-gray-dark: rgb(39, 39, 39);
$color-yellow-dark: rgb(139, 139, 0);
$color-green-dark: green;
$color-red-dark: rgb(152, 0, 0);
$color-blue-dark: rgb(0, 0, 153);

.App {
    margin: auto;
    width: fit-content;

    .header {
        margin: 15px;
        padding-bottom: 10px;

        font-size: 42px;
        text-align: center;

        border-bottom: 1px solid black;
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;

        .row {
            display: flex;
            flex-direction: row;
            gap: 2px;

            .cell {
                width: 55px;
                height: 55px;

                border-radius: 10px;
                border: 1px solid black;

                background: $color-default;

                text-align: center;
                line-height: 45px;
                font-size: 48px;

                transition: 0.5s;
                transition-property: background;

                &.green {
                    background: $color-green;
                }
                
                &.yellow {
                    background: $color-yellow;
                }
                
                &.gray {
                    background: $color-gray;
                }
            }
        }
    }

    .keyboard {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5px;

        max-width: 650px;

        .key {
            width: 50px;
            height: 50px;

            border-radius: 15px;

            text-align: center;
            line-height: 50px;

            font-family: 'Courier New', Courier, monospace;
            font-size: 36px;

            background: $color-default;
            border: none;

            user-select: none;

            transition: 0.25s;
            transition-property: background;

            &:hover {
                background: $color-default-dark;
                color: white;
            }
            &.backspace {
                background: $color-red;
                &:hover {
                    background: $color-red-dark;
                }
            }
            &.enter {
                background: $color-blue;
                width: 155px;
                &:hover {
                    background: $color-blue-dark;
                }
            }
            &.green {
                background: $color-green;
                &:hover {
                    background: $color-green-dark;
                    color: white;
                }
            }
            
            &.yellow {
                background: $color-yellow;
                &:hover {
                    background: $color-yellow-dark;
                    color: white;
                }
            }
            
            &.gray {
                background: $color-gray;
                &:hover {
                    background: $color-gray-dark;
                    color: white;
                }
            }
        }

        .divider {
            flex-basis: 100%;
        }

        @media screen and (max-width: 630px) {
            .key {
                width: 40px;
                height: 40px;
                font-size: 30px;
                line-height: 40px;
                border-radius: 10px;
            }
        }

        @media screen and (max-width: 510px) {
            .divider:first-of-type {
                order: 99;
            }
            .enter {
                order: 99;
            }
            .backspace {
                order: 99;
                width: 155px;
            }
        }

        @media screen and (max-width: 465px) {
            .divider:nth-of-type(2) {
                order: 100;
            }
        }
    }
}