@import '../../../../constants/colors.scss';

.cell {
    width: 55px;
    height: 55px;

    border-radius: 10px;
    border: 1px solid black;

    background: $color-default;

    text-align: center;
    line-height: 45px;
    font-size: 54px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;

    transition: 0.5s;
    transition-property: background;

    user-select: none;

    &.green {
        background: $color-green;
    }
    
    &.yellow {
        background: $color-yellow;
    }
    
    &.gray {
        background: $color-gray;
    }

    @media screen and (max-width: 630px) {
        width: 50px;
        height: 50px;
        font-size: 52px;
        line-height: 40px;
        border-radius: 10px;
    }
    
    @media screen and (max-width: 510px) {
        width: 48px;
        height: 48px;
        line-height: 40px;
        border-radius: 7px;
    }
    
    @media screen and (max-width: 450px) {
        width: 45px;
        height: 45px;
        line-height: 36px;
        font-size: 48px;
    }
    
    @media screen and (max-width: 370px) {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
}